@model List<VotoElectronico.MVC.Models.Candidato>

<h2 style="text-align:center">Candidatos Presidenciales</h2>

<div class="container">
    <div class="row">

        @foreach (var c in Model)
        {
            <div class="col-md-6">
                <div style="background:white; border-radius:15px; padding:20px; margin:20px; box-shadow:0px 0px 15px gray">

                    <h3 style="color:#0d6efd">@c.Partido</h3>

                    <div style="display:flex; justify-content:space-around">

                        <div>
                            <img src="@c.FotoPresidente" width="120" style="border-radius:10px" />
                            <h4>Presidente</h4>
                            <p>@c.NombrePresidente</p>
                        </div>

                        <div>
                            <img src="@c.FotoVicepresidente" width="120" style="border-radius:10px" />
                            <h4>Vicepresidente</h4>
                            <p>@c.NombreVicepresidente</p>
                        </div>

                    </div>

                </div>
            </div>
        }

    </div>
</div>